<h2 style = "text-align: center";>Admin controls page</h2>
<p style = "text-align: center"><b>User list</b></p><br>
<p style = "text-align: center">Username - DateJoined<br>
	<% @list2.each do |liste| %>
 <article style = "text-align: center">
 <p style = "color: maroon">
 <%= liste.username %> - <%= liste.date_joined %> 

<p><a href="/user/delete/<%= liste.username %>">Delete User?</a>
 </p>
 </article>
<% end %> 