
<h2><br>Please register and log in in order to play the game!
<br>If you and your friend wish to reset the scores please click on "Reset Game".</h3></p>

<img src = "/images/tak.png" height = "500" width = "500" />